* {
    box-sizing: border-box;
    font-family: "Roboto";
}

/*HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
header a {
    text-decoration: none;
    color: grey;
}

header i {
    margin-left: 25px;
    top: 17px;
    position: absolute;
}

.container-header {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-company {
    width: 150px;
    padding: 15px;
}

/* MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU 
 */
.container-header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* CONTAINER MAIN */

.container-main-menu {
    width: 100%;
    background-color: whitesmoke;
}


.container-main-menu img {
    width: 100%;
}

.container-main-menu h5 {
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 18px;
}

.title-menu {
    background-color: whitesmoke;
    width: 100%;
    position: absolute;
    margin-top: -50px;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-menu h3 {
    margin-left: 10px;
    font-family: "Shrikhand";
    font-weight: 500;
}

.title-menu i {
    margin-right: 20px;
    font-size: 18px;
}

.title-menu i:hover {
    color: #9356DC;
    font-weight: bold;
    transition-property: font-weight, color;
    transition-duration: 1s;
}

.green-line {
    background-color: rgba(112, 224, 84, 0.904);
    width: 35px;
    height: 2px;
    margin-left: 10px;
}

.align-item {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    white-space: nowrap;
}

@keyframes fondue {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container-validation {
    display: none;
    background-color: #99E2D0;
    padding: 17px 0px 1px 15px;
    width: 60px;
    height: 68px;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    right: 10px;
    margin-top: -13px;
    font-size: 30px;
    animation: slide-left 1s ease;
    transform-origin: right;
}

.fa-circle-check {
    font-weight: bold;
    color: white;
    animation: rotate-360 1s ease;
    animation-delay: 0.2s;
}

@keyframes slide-left {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container-items {
    background-color: white;
    margin: 10px;
    padding: 13px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    animation: fondue 1s both;
}

.container-items:hover .container-validation {
    display: block;
}



.container-items:hover>.align-item .container-price {
    margin-right: 50px;
    transition: ease 1s;
}

.container1 {
    animation-delay: 0.1s;
}

.container2 {
    animation-delay: 0.2s;
}

.container3 {
    animation-delay: 0.3s;
}

.container4 {
    animation-delay: 0.4s;
}

.container5 {
    animation-delay: 0.5s;
}

.container6 {
    animation-delay: 0.6s;
}

.container7 {
    animation-delay: 0.7s;
}

.container8 {
    animation-delay: 0.8s;
}

.container9 {
    animation-delay: 0.9s;
}

.container-items p {
    margin: 0px;
    margin-top: 3px;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container-items h5 {
    margin: 0px;
}

.container-price {
    padding-left: 5px;
}

.container-button-command {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 15px;
}

#bouton-command {
    background: linear-gradient(rgb(255, 121, 218), #9356DC);
    color: white;
    width: 200px;
    height: 50px;
    font-weight: 400;
    border-radius: 30px 30px 30px 30px;
    border-width: 0px;
    box-shadow: 0px 3px 10px grey;
    margin-top: 10px;
    margin-bottom: 40px;
}

#bouton-command:hover {
    background: linear-gradient(#9356DC, #FF79DA);
    box-shadow: 0px 3px 20px grey;
}

footer a {
    text-decoration: none;
    color: white;
}

.container-footer {
    width: 100%;
    background-color: hsl(0, 1%, 23%);
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;

}

.container-footer h4 {
    font-family: "Shrikhand";
    font-size: 20px;
}

.container-footer i {
    padding-right: 5px;
}

.fa-handshake {
    transform: rotate(120deg);
    font-size: 13px;
}

@media all and (max-width: 992px) and (min-width: 767px) {
    .title-menu i {
        margin-left: 30px;
    }

    .title-menu {
        justify-content: center;
    }

    .title-starter {
        text-align: center;
    }

    .container-main-menu .green-line {
        width: 70%;
        margin: auto;
    }

    .container-main-menu img {
        height: 300px;
        object-fit: cover;
    }

    .container-items {
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 20px;
    }

    .container-validation {
        right: 90px;
        margin-top: -13px;
    }

    .container-footer {
        display: flex;
        align-items: center;
        justify-items: center;
        padding-left: 0px;
        justify-content: space-evenly;
    }
}

@media all and (min-width: 992px) {
    .title-menu i {
        margin-left: 30px;
    }

    .title-menu {
        justify-content: center;
    }

    .title-starter {
        text-align: center;
    }

    .container-main-menu .green-line {
        width: 70%;
        margin: auto;
    }

    .container-main-menu img {
        height: 300px;
        object-fit: cover;
    }

    .container-items {
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 20px;
    }

    .container-validation {
        right: 90px;
        margin-top: -13px;
    }

    .container-validation {
        width: 300px;
    }

    .container-items:hover>.align-item .container-price {
        margin-right: 300px;
        transition: ease 1s;
    }

    .container-footer {
        display: flex;
        align-items: center;
        justify-items: center;
        padding-left: 0px;
        justify-content: space-evenly;
    }
}