* {
    box-sizing: border-box;
    font-family: "Roboto";
}

/*HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
header a {
    text-decoration: none;
    color: grey;
}

.container-header {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-company {
    width: 150px;
    padding: 15px;
}

.restaurant-location {
    width: 100%;
    height: 50px;
    background-color: rgb(226, 226, 226);
    box-shadow: inset 0px 1px#999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-location-dot {
    font-size: 20px;
    height: 20px;
    width: 30px;
}

/* MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU 
 */
.container-header-menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.container-header-menu img {
    margin-left: 80px;
}

.container-header-menu i {
    margin-left: 10px;
}

/* CONTAINER MAIN */

.container-main-menu {
    width: 100%;
    background-color: whitesmoke;
}

.container-main-menu img {
    width: 100%;
}

.container-main-menu h5 {
    margin-left: 10px;
    margin-bottom: 2px;
}

.title-menu {
    background-color: whitesmoke;
    width: 100%;
    position: absolute;
    margin-top: -50px;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-menu h3 {
    margin-left: 10px;
    font-family: "Shrikhand";
    font-weight: 500;
}

.title-menu i {
    margin-right: 20px;
    font-size: 18px;
}

.green-line {
    background-color: rgba(112, 224, 84, 0.904);
    width: 35px;
    height: 2px;
    margin-left: 10px;
}

.align-item {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

@keyframes fondue {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container-items {
    background-color: white;
    margin: 10px;
    padding: 13px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    animation: fondue 1s both;
}

.container1 {
    animation-delay: 0.1s;
}

.container2 {
    animation-delay: 0.2s;
}

.container3 {
    animation-delay: 0.3s;
}

.container4 {
    animation-delay: 0.4s;
}

.container5 {
    animation-delay: 0.5s;
}

.container6 {
    animation-delay: 0.6s;
}

.container7 {
    animation-delay: 0.7s;
}

.container8 {
    animation-delay: 0.8s;
}

.container9 {
    animation-delay: 0.9s;
}

.container-items p {
    margin: 0px;
    margin-top: 3px;
    font-size: 12px;
}

.container-items h5 {
    margin: 0px;
}

.container-button-command {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 15px;
}

#bouton-command {
    background: linear-gradient(rgb(255, 121, 218), #9356DC);
    color: white;
    width: 200px;
    height: 50px;
    font-weight: 400;
    border-radius: 30px 30px 30px 30px;
    border-width: 0px;
    box-shadow: 0px 3px 10px grey;
    margin-top: 10px;
    margin-bottom: 40px;
}

footer a {
    text-decoration: none;
    color: white;
}

.container-footer {
    width: 100%;
    background-color: hsl(0, 1%, 23%);
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;

}

.container-footer h4 {
    font-family: "Shrikhand";
    font-size: 20px;
}

.container-footer i {
    padding-right: 5px;
}

.fa-handshake {
    transform: rotate(120deg);
    font-size: 13px;
}